:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1.5rem;
  --white-font-color: hsl(0, 0%, 100%);
  --primary-card-color: hsl(205, 100%, 50%);
  --primary-dark-blue: hsl(206, 100%, 30%);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white-font-color);
}

.header {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-template-areas: '. search-bar temperature-select';
  align-items: center;
  background-color: var(--primary-dark-blue);
  padding: 10px 40px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: search-bar;
}

form > *,
select {
  border: 1px gray solid;
}

input[type='search'] {
  appearance: none;
  outline: none;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  padding: 5px 15px;
  font-family: inherit;
  font-size: inherit;
  width: 30vw;
}

input + button {
  border-left: none;
  width: 40px;
  align-self: stretch;
  border-radius: 0px 20px 20px 0px;
  background: white url('../img/search.svg') no-repeat center center;
  cursor: pointer;
}

select {
  width: min-content;
  padding-right: 40px;
  appearance: none;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.select-wrapper {
  grid-area: temperature-select;
  justify-self: end;
  position: relative;
}

.section-title {
  color: black;
  margin: 20px 0px 0px 0px;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  background: url('../img/drop-down.svg') no-repeat center center;
  display: inline-block;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.content {
  margin: 0px 20vw 20px 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.github-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: hsl(0, 0%, 10%);
  font-size: 0.7rem;
  gap: 10px;
}

.github-banner svg:hover:not(:active) {
  fill: hsl(0, 0%, 50%);
}

.card {
  border-radius: 20px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.resolved-address {
  color: inherit;
  font-weight: bold;
}

.current-weather-container {
  grid-area: current-weather-conditions;
}

.current-weather {
  background-color: var(--primary-card-color);
  padding: 10px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.daily-weather-container {
  background-color: var(--primary-card-color);
  grid-area: daily-weather;
}

.current-weather-info {
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 30px;
}

.bottom-current-weather {
  display: flex;
  justify-content: space-between;
}

.daily-weather {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.temp-range {
  flex: 0 0 100px;
  display: flex;
  gap: 5px;
}

.max-temp {
  font-weight: bold;
}

.precipitation-wrapper {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.precip-prob-icon {
  background: url('../img/rain-drop.svg') no-repeat center center;
  width: 24px;
  height: 24px;
}
.day-of-the-week {
  flex: 1 4 100px;
}

.daily-weather-info {
  flex: 1 1 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.precip-prob {
  flex-basis: 50px;
  text-align: start;
}

.daily-weather:has(+ .daily-weather) {
  border-bottom: 1px hsl(0, 0%, 95%) solid;
}

.invalid-location,
.loading {
  align-self: center;
  color: gray;
}

/* Weather Icons */
.current-weather-icon {
  grid-area: icon;
  height: 150px;
  width: 150px;
}

.daily-weather-icon {
  grid-area: icon;
  height: 75px;
  width: 75px;
}

.clear-day {
  background: url('../img/clear-day.svg') no-repeat center center;
}

.clear-night {
  background: url('../img/clear-night.svg') no-repeat center center;
}

.cloudy {
  background: url('../img/cloudy.svg') no-repeat center center;
}

.fog {
  background: url('../img/fog.svg') no-repeat center center;
}

.hail {
  background: url('../img/hail.svg') no-repeat center center;
}

.partly-cloudy-day {
  background: url('../img/partly-cloudy-day.svg') no-repeat center center;
}

.partly-cloudy-night {
  background: url('../img/partly-cloudy-night.svg') no-repeat center center;
}

.rain-snow-showers-day {
  background: url('../img/rain-snow-showers-day.svg') no-repeat center center;
}

.rain-snow-showers-night {
  background: url('../img/rain-snow-showers-night.svg') no-repeat center center;
}

.rain-snow {
  background: url('../img/rain-snow.svg') no-repeat center center;
}

.rain {
  background: url('../img/rain.svg') no-repeat center center;
}

.showers-day {
  background: url('../img/showers-day.svg') no-repeat center center;
}

.showers-night {
  background: url('../img/showers-night.svg') no-repeat center center;
}

.sleet {
  background: url('../img/sleet.svg') no-repeat center center;
}

.snow-showers-day {
  background: url('../img/snow-showers-day.svg') no-repeat center center;
}

.snow-showers-night {
  background: url('../img/snow-showers-night.svg') no-repeat center center;
}

.snow {
  background: url('../img/snow.svg') no-repeat center center;
}

.thunder-rain {
  background: url('../img/thunder-rain.svg') no-repeat center center;
}

.thunder-showers-day {
  background: url('../img/thunder-showers-day.svg') no-repeat center center;
}

.thunder-showers-night {
  background: url('../img/thunder-showers-night.svg') no-repeat center center;
}

.thunder {
  background: url('../img/thunder.svg') no-repeat center center;
}

.wind {
  background: url('../img/wind.svg') no-repeat center center;
}
